%li.chat-message
  %p.chat-message__user
    = message.user.name
    %span
      = message.created_at.strftime('%Y/%m/%d %H:%M')
  %p.chat-message__content
    = message.content if message.content.present?
    %div
    = image_tag message.image.url if message.image.present?
