!!! 5
%html
  %head
  %body
  %p.notice チャットグループが作成されました。
  %div.chat-layout
    %div.chat-side
      %div.chat-user
        %h5 yuki shimizu
        %div.chat-user__actions
          %a.chat-user__action{href: '#'}
            %i.fa.fa-pencil-square-o
          %a.chat-user__action{href: '#'}
            %i.fa.fa-cog
      %div.chat-groups
        - @groups.each do |group|
          = render 'group', group: group
    %div.chat-main
      %div.chat-header
        %div.chat-header--left
          %h2 サンプルグループ
          %p.chat-header__members Members: yuki yuji
        %div.chat-header--right
          %a{href: '#'}
            %div.chat-header__edit-btn Edit
      %div.chat-body
        %ul.chat-messages
          - @messages.each do |message|
            = render 'message', message: message
      %div.chat-footer

