// colors
$white: #FFFFFF;
$black: #000000;
$gray: #999999;
$heavy-gray: #333333;
$light-gray: #AAAAAA;
$whitish-gray: #eeeeee;
$blue: #2F3E51;
$dark-blue: #253141;
$black-blue: #434A54;
$sky-blue: #38AEF0;
$orange: #FF9933;
