// Overall
.chat-layout {
  @include clearfix();
  height: 100%;
}

.notice {
  background-color: #38AEF0;
  color: $white;
  text-align: center;
}


// Side
.chat-side {
  @include block($blue, 300px, 100%, left);
  color: $white;
}

.chat-user {
  background-color: $dark-blue;
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
  @include clearfix();
  h5 {
    @include font($white, 16px, bold);
    float: left;
  }
  .chat-user__actions {
    @include font($white, 20px, bold);
    cursor: pointer;
    float: right;
  }
}


// Main
.chat-main {
  @include block(transparent, calc(100vw - 300px), 100%, left);
}
