// Side
.chat-layout {
  @include cearfix();
  height: 100%;
}
.chat-side {
  background-color: #2f3e51;
  color: $sub-text-color;
  width: 300px;
  height: 100%;
  float: left;
}

.chat-main {
  width: calc(100% - 300px);
  height: 100%;
  float: left;
}

.notice {
  background-color: #38AEF0;
  color: $sub-text-color;
  text-align: center;
}
