@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin block($background-color, $width, $height, $float) {
  background-color: $background-color;
  width: $width;
  height: $height;
  float: $float;
}

@mixin font($color, $font-size, $font-weight) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin border(){

}
